body {
  font-family: 'Asap', sans-serif;
}

.header {
  background-color: #dedede;
  background-image: url("../assets/bg element .png");
}

.kiril {
  text-align: center;
  margin: 0 auto;
}

.size-images {
  width: 100%;
}
