 <div class="row header">
   <nav class="navbar navbar-expand-lg navbar-light bg-light header_nav">
     <div class="container">
       <a class="navbar-brand" href="#"><img src="../assets/logo.png"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
         <div class="navbar-nav">
           <a class="nav-item nav-link nav_link" href="#">HOME</a>
           <a class="nav-item nav-link nav_link" href="#">ABOUT</a>
           <a class="nav-item nav-link nav_link" href="#">SERVICE</a>
           <a class="nav-item nav-link nav_link" href="#">PORTFOLIO</a>
           <a class="nav-item nav-link nav_link" href="#">CONTACT</a>
         </div>
       </div>
     </div>
   </nav>
    <div class="container header_elements">
      <div class="col-7 header_title">
        <h1 class="title">Yakovlev Kirill</h1>
        <h6 class="subtitle">User Experience / User Interface Expert</h6>
        <a href="#">
          <button class="btn">KNOW MORE</button>
        </a>
        <a href="#">
          <button class="btn">HIRE ME</button>
        </a>
      </div>
      <div class="col-5 col_images">
        <img src="../assets/me.png" alt="photo">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container menu_elements">
      <div class="col-7">
        <h1 class="menu_title"><span class="line">KN</span>OW MORE <br> ABOUT ME</h1>
        <h6 class="menu_subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa.
          Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          sem. Nulla consequat massa quis enim.</h6>
        <button class="btn">DOWNLOAD MY CV</button>
      </div>
      <div class="col-5">
        <img class="menu_img" src="../assets/6.jpg" alt="photo">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="container">
      <h1 class="text-center">SERVICES</h1>
      <div class="w-100"></div>
      <div class="col justify-content-center">1</div>
      <div class="col justify-content-center">2</div>
      <div class="col justify-content-center">3</div>
      <div class="w-100"></div>
      <div class="col justify-content-center">4</div>
      <div class="col justify-content-center">5</div>
      <div class="col justify-content-center">6</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="container">
      <h1 class="text-center">MY SKILLS</h1>
      <div class="w-100"></div>
      <div class="col justify-content-center">1</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="container">
      <h1 class="text-center">PORTFOLIO</h1>
      <div class="w-100"></div>
      <div class="col justify-content-center">1</div>
      <div class="col justify-content-center">2</div>
      <div class="col justify-content-center">3</div>
      <div class="w-100"></div>
      <div class="col justify-content-center">4</div>
      <div class="col justify-content-center">5</div>
      <div class="col justify-content-center">6</div>
      <div class="w-100"></div>
      <button>#</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="container">
      <h1 class="text-center">TESTIMONIALS</h1>
      <div class="w-100"></div>
      <div class="col justify-content-center">slider</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="container">
      <div class="col justify-content-center">1</div>
      <div class="col justify-content-center">2</div>
      <div class="col justify-content-center">3</div>
      <div class="col justify-content-center">4</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="container">
      <h1 class="text-center">SAY HELLO!</h1>
      <div class="w-100"></div>
      <div class="col justify-content-center">INPUT 1</div>
      <div class="col justify-content-center"></div>
      <div class="w-100"></div>
      <div class="col justify-content-center">TEXTAREA</div>
      <div class="w-100"></div>
      <button>#</button>
    </div>>
  </div>
  <div class="row justify-content-start">
    <div class="container">
      <div class="col-5">icon</div>
      <div class="col-7">footer</div>
    </div>
  </div>

